<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Salon de Coiffure</title>
  </head>
  <body>
    <h1>Salon de Coiffure</h1>
    <h3>Admin Console</h3>
    <div id="nav">
      <a href="/">Home</a>
      <a href="/stylists">Stylists</a>
      <a href="/clients">Clients</a>
      <a href="/appointments">Appointments</a>
    </div>
    @RenderBody()
  </body>
</html>
