<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/css/styles.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="~/js/scripts.js"></script>
    <title>Snappy Snips Salon</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="header jumbotron">
        <h1>Snippy Snaps Salon</h1>
        <h3>Admin Console</h3>
      </div>
      <div class="nav">
        <a href="/">Home</a><br>
        <a href="/stylists">All Stylists</a><br>
        <a href="/clients">All Clients</a><br>
        <a href="#">Appointments</a>
      </div>
      <div class="main">
        @RenderBody()
      </div>
    </div>
  </body>
</html>
