@using HairSalon.Models;

@{
  Layout = "_Layout";
}

<h4>All Stylists</h4>
@if(Model.Count < 1)
{
  <p>There are no stylists to display!</p>
}

@foreach (Stylist stylist in Model)
{
  <a href="/stylists/@stylist.GetId()">@stylist.GetName()</a><img class="icon-edit" src="~/img/icons/edit.png"><img class="icon-delete" src="~/img/icons/trash.png"><br>
}

<form action="stylists/new" method="get">
  <button type="submit">Add A Stylist</button>
</form>
