@using HairSalon.Models;

@{
  Layout = "_Layout";
}

<h4>@Model.GetName()</h4>


<h5>Clients</h5>
@if(Model.GetClients().Count < 1)
{
  <p>There are no clients to display.</p>
}
else
{
  @foreach (Client client in Model.GetClients())
  {
    <a href="/stylists/@Model.GetId()/clients/@client.GetId()">@client.GetName()</a><br>
  }
}

<br>
<form action="/stylists/@Model.GetId()/clients/new" method="get">
  <button type="get">Add A Client</button>
</form>

<h5>Upcoming Appointments</h5>
<p>There are no upcoming appointments to display.</p>
