@using HairSalon.Models;

@{
  Layout = "_Layout";
}

<h4>All Clients</h4>
@if(Client.GetAll().Count < 1)
{
  <p>There are no clients to display!</p>
}
else
{
  @foreach (Client client in @Client.GetAll())
  {
    <a class="list-item" href="/stylists/@Stylist.Find(@client.GetStylistId()).GetId()/clients/@client.GetId()">@client.GetName()</a><img class="icon-edit list-item" src="~/img/icons/edit.png"><form onclick="return confirm('Are you sure you want to delete this client?')" action="clients/@client.GetId()/delete" method="post"><input class="icon" type="image" src="~/img/icons/trash.png"></form>
    <div class="edit-form">@Html.Partial("EditClient", @client)<br></div>
  }
  <br>
  <form onclick="return confirm('Are you sure you want to delete all clients?')" action="clients/deleteall" method="post"><button class="btn-danger">DELETE ALL</button></form>
}