@using HairSalon.Models;
@{
  Layout = "_Layout";
}

<form action="/stylists/@Model.GetId()/clients/create" method="post">
  <select name="stylist">
    @foreach (Stylist stylist in @Stylist.GetAll())
    {
      <option value="@stylist.GetId()">@stylist.GetName()</option>
    }
  </select>
  <label for="first">First Name:</label>
  <input required id="first" name="first" type="text"><br>
  <label for="last">Last Name:</label>
  <input required id="last" name="last" type="text"><br>
  <button type="submit">Save</button>
</form>
